* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    scrollbar-width: 0px;
}

::selection {
    user-select: none;
}

:root {
    --var-red: rgb(255, 0, 51);
    --var-dark: #000000;
    --var-gray: #272727;
    --var-gold: #ff9900;
}

@font-face {
    font-family: "Josefin";
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Titilium";
    src: url(../fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf);
}

body {
    font-family: "Josefin";
    font-size: 20px;
    font-weight: bold;
    display: grid;
    background-color: var(--var-gray);
    scroll-behavior: smooth;
}

body>span,
.my-page>span {
    opacity: 0;
    background-color: transparent;
}


/* My whole entire page */

.my-page {
    max-width: 100%;
    max-width: 1500px;
    color: white;
    justify-self: center;
    margin-top: 90px;
    background-color: var(--var-gray);
    border: 2px solid var(--var-gray);
    font-family: "Josefin";
}

.home-header {
    width: 100%;
    display: grid;
    padding: 30px;
    background: linear-gradient(to top, var(--var-gray), rgba(0, 0, 0, 0.205), var(--var-gray)), url(../img/bg.png);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Top header bar with menu bar */

nav * {
    text-decoration: none;
    list-style: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: var(--var-gray);
    width: 100%;
    height: 90px;
    padding: 0 50px;
    z-index: 4;
}

.logo img {
    width: 50px;
    margin: 10px;
}

nav ul {
    justify-self: right;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    padding: 5px 8px;
    margin: 0 10px;
    font-size: 25px;
    text-transform: capitalize;
    position: relative;
}

nav ul li a::before {
    content: "";
    background-color: var(--var-red);
    position: absolute;
    width: 10px;
    height: 4px;
    top: 100%;
    bottom: -10%;
    left: -5%;
    transition: .3s ease;
}

nav ul li a:hover::before {
    width: 110%;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

.checkbtn i {
    transition: .3s;
}

#check,
#comment,
.checkbtn {
    display: none;
}

@media (max-width: 1150px) {
    .checkbtn {
        display: block;
        float: right;
    }
    nav ul li a {
        font-size: 1.5rem;
    }
    nav {
        border: 2px solid var(--var-gray);
    }
    #comment {
        display: block;
        color: var(--var-dark);
        font-style: italic;
        align-self: flex-end;
        font-size: 2rem;
    }
    #comment i {
        color: var(--var-red);
    }
    nav ul li a::before {
        content: "";
        background-color: var(--var-red);
        position: absolute;
        width: 10px;
        height: 4px;
        top: -10%;
        right: -5%;
        transition: .3s ease;
    }
    nav ul li a:hover::before {
        width: 110%;
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
    .menu {
        display: inline-block;
        padding: 0 30px;
    }
    ul {
        display: inherit;
        position: fixed;
        width: 100%;
        height: 100%;
        background: var(--var-gray);
        top: -100%;
        align-content: space-between;
        left: 0;
        text-align: center;
        transition: all .5s;
        z-index: -1;
    }
    nav ul li:not(last-child) {
        display: block;
        transition: transform .5s ease;
        transition-delay: .5s;
    }
    nav ul li a {
        font-size: 2rem;
    }
    nav ul li a:hover,
    nav ul li a:active,
    nav ul li a:focus {
        background: none;
        color: var(--var-red);
    }
    #check:checked~.checkbtn i {
        color: var(--var-red);
    }
    #check:checked~ul {
        top: 80px;
        left: 0;
        transform: translateX(1);
    }
    .logo {
        float: left;
        padding: 5px;
        margin: 5px;
    }
}

::-webkit-scrollbar {
    width: 0%;
}


/* Home, Profile Picture, Names ... */

.home {
    display: flex;
    flex-wrap: wrap;
    margin: 80px auto;
    align-items: center;
    gap: 60px;
}

@media (max-width: 950px) {
    .home {
        display: grid;
        text-align: center;
        margin: 130px auto;
        padding: 0;
    }
    .home img {
        min-width: 250px;
        padding: 0;
        margin: 0 auto;
    }
}

.home img {
    width: 300px;
    border: 3px var(--var-gray);
    padding: 10px;
    border-radius: 50%;
}

.text h3 span {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--var-red);
    animation: text_reveal_box 1s ease forwards;
}

.text h3 {
    font-size: 3rem;
    color: transparent;
    position: relative;
    width: fit-content;
    margin: 5px;
    animation: text_reveal 1s ease forwards;
}

.text :nth-child(1) {
    animation-delay: 1s;
}

.text :nth-child(2) {
    animation-delay: 2s;
}

.text :nth-child(3) {
    animation: text_reveal_red 1s ease forwards;
    animation-delay: 3.5s;
}

.text :nth-child(1) span {
    animation-delay: .5s;
}

.text :nth-child(2) span {
    animation-delay: 1.5s;
}

.text :nth-child(3) span {
    animation-delay: 3s;
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: #fff;
    }
}

@keyframes text_reveal_red {
    100% {
        color: var(--var-red);
    }
}

.text {
    text-align: left;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 1.8px;
}

.text h2 span {
    text-transform: capitalize;
    color: var(--var-red);
}

.text h3 span {
    text-transform: capitalize;
    color: var(--var-red);
}

@media (max-width: 600px) {
    .home img {
        width: 150px;
    }
    .text {
        font-size: 1.7rem;
        letter-spacing: 1px;
    }
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    z-index: 1;
    width: 100%;
}

.socials-links {
    float: left;
    justify-content: space-between;
    position: relative;
}

.socials-links a i {
    transition: .4s;
}

.socials-links a {
    padding: 15px;
    margin: 0 5px;
    font-size: 2rem;
    z-index: -1;
}

.socials-links a:hover i,
.socials-links a:focus i,
.socials-links a:active i {
    color: #fff;
}

@media (max-width: 1000px) {
    .bottom-bar {
        display: grid;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
    .socials-links {
        display: flex;
        flex-wrap: wrap;
    }
    .socials-links a {
        z-index: 1;
        transition: .3s;
    }
    .contact-btn {
        justify-self: center;
    }
}

@media (max-width: 620px) {
    .bottom-bar {
        display: flex;
        font-size: 1rem;
        flex-wrap: nowrap;
        gap: 0px;
        width: 100%;
    }
    .contact-btn {
        margin: 0;
        display: flex;
        text-align: center;
        align-self: center;
        min-width: 170px;
    }
    .socials-links {
        padding: 0%;
        display: flex;
        flex-wrap: nowrap;
    }
    .socials-links a {
        margin: 0;
    }
}

[class^="fa"] {
    color: var(--var-red);
}

.contact-btn a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid var(--var-red);
    letter-spacing: 1px;
    transition: .3s ease;
}

.contact-btn a i {
    color: var(--var-red);
    transition: .4s;
}

.contact-btn a:hover,
.contact-btn a:active,
.contact-btn a:focus {
    background-color: var(--var-red);
}

.contact-btn a:hover i,
.contact-btn a:active i,
.contact-btn a:focus i {
    color: #fff;
}


/* About Section */

.about {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: "Titilium";
    width: 100%;
    margin: 100px 0;
    background: linear-gradient(to top, var(--var-gray), rgba(59, 59, 59, 0.815), var(--var-gray)), url(../img/about_bg.jpg);
    background-size: cover;
    background-position: center;
}

.about-title {
    transform: skewX(-10deg);
    text-align: right;
    font-family: "Titilium";
    font-size: 2.5rem;
    max-width: 90%;
}

.about-title span {
    padding: 10px 30px;
    background-color: var(--var-red);
    color: #fff;
}

.about-details {
    display: flex;
    max-width: 90%;
    margin: 50px auto;
    padding: 10px;
    border-radius: 20px;
    padding: 50px 20px;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.about-details img {
    width: 400px;
    margin: 0px 10px;
    border-radius: 20px;
}

.about-details-text {
    display: grid;
    justify-content: center;
    align-items: center;
}

.about-text {
    font-size: 1.3rem;
    text-indent: 20px;
}

.about-text span {
    color: var(--var-red);
    text-transform: capitalize;
}

.about-text a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: fit-content;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: var(--var-red);
    text-transform: uppercase;
    transition: all .3s;
}

.about-text a:hover {
    color: var(--var-gold);
}

.about-contact-btn {
    margin: 30px auto;
}

.about-contact-btn a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: var(--var-red);
    border: 2px solid var(--var-red);
    transition: .4s;
}

.about-contact-btn a i {
    color: #fff;
    transition: .4s;
}

.about-contact-btn a:hover i {
    color: var(--var-red);
}

.about-contact-btn a:hover,
.about-contact-btn a:active,
.about-contact-btn a:focus {
    color: var(--var-red);
    background-color: var(--var-gray);
}

@media (max-width: 1000px) {
    .about-details {
        display: flex;
        flex-wrap: wrap;
    }
    .about-text {
        margin: 50px auto;
        width: 80%;
    }
}


/* Skills */

.skills {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 0;
    background: linear-gradient(to top, var(--var-gray), rgba(59, 59, 59, 0.747), var(--var-gray)), url(../img/skills_bg.png);
    background-size: cover;
    background-position: center;
}

.skills-title {
    transform: skewX(-10deg);
    text-align: right;
    font-family: "Titilium", sans-serif;
    font-size: 2.5rem;
    max-width: 90%;
    text-align: right;
}

.skills-title span {
    padding: 10px 30px;
    background-color: var(--var-red);
    color: #fff;
}

.skills-spec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    margin: 50px auto;
    border-radius: 20px;
    align-items: center;
    font-size: 2rem;
    width: 90%;
    padding: 10px 30px;
}

.skills-html,
.skills-css,
.skills-php,
.skills-js {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    width: 400px;
    margin: 20px 20px;
}

.skills-html-img,
.skills-css-img,
.skills-php-img,
.skills-js-img {
    font-size: 3rem;
}

.skills-html-value,
.skills-css-value,
.skills-php-value,
.skills-js-value {
    text-align: right;
}

progress {
    height: 10px;
}

[class="fab fa-html5"] {
    color: var(--var-red);
}

[class="fab fa-css3"] {
    color: #001aff;
}

[class="fab fa-php"] {
    color: #9f7bfa;
}

[class="fab fa-js-square"] {
    color: #ff0;
}


/* Projects section design */

.projects {
    width: 100%;
    padding: 3rem 0px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, var(--var-gray), rgba(59, 59, 59, 0.623), var(--var-gray)), url(../img/projects_bg.png);
    background-size: cover;
    background-position: center;
}

.projects-title {
    transform: skewX(-10deg);
    text-align: right;
    font-family: "Titilium", sans-serif;
    font-size: 2.5rem;
    max-width: 90%;
    text-align: right;
}

.projects-title span {
    padding: 10px 30px;
    background-color: var(--var-red);
    color: #fff;
}

.projects-spec {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: 50px auto;
    padding: 20px;
}

.projects-design,
.projects-web,
.projects-app {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 10px;
    gap: 70px;
}

.projects-design img,
.projects-web img,
.projects-app img {
    max-width: 1000px;
    width: 300px;
}

.description {
    max-width: 800px;
    width: 700px;
}

@media (max-width: 1300px) {
    .projects-design,
    .projects-web,
    .projects-app {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 40px 10px;
        gap: 50px;
    }
    .projects-design img,
    .projects-web img,
    .projects-app img {
        max-width: 700px;
        width: 300px;
    }
    .description {
        max-width: 500px;
        width: 400px;
    }
    .projects-spec {
        width: 90%;
        display: flex;
        width: 100%;
        margin: 40px auto;
        padding: 20px;
    }
}

@media (max-width: 800px) {
    .projects-design,
    .projects-web,
    .projects-app {
        display: grid;
        width: 450px;
        align-self: center;
        align-items: center;
        margin: 30px 0px;
        position: relative;
        gap: 10px;
    }
    .projects-design img,
    .projects-web img,
    .projects-app img {
        width: 450px;
        border-radius: 10px;
    }
    .description {
        position: absolute;
        margin: 0 auto;
        bottom: 0%;
        height: 150px;
        overflow: scroll;
        scrollbar-width: none;
        background: linear-gradient(to top, rgb(37, 37, 37), rgba(66, 66, 66, 0.884), rgb(0, 0, 0, 0));
        padding: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 450px;
    }
    .projects-spec {
        display: flex;
        width: 90%;
        border-radius: 10px;
        flex-direction: column;
        margin: 40px auto;
        padding: 10px;
    }
    .projects {
        background-color: transparent;
    }
}

@media (max-width: 550px) {
    .projects-design,
    .projects-web,
    .projects-app,
    .projects-design img,
    .projects-web img,
    .projects-app img,
    .description {
        width: 350px;
    }
}


/* Enterprise */

.enterprise {
    display: grid;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    justify-content: center;
    position: relative;
}

.enterprise::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 140%;
    top: -20%;
    left: 0%;
    right: 0%;
    background-color: #fff;
    z-index: -1;
    transform: skewY(-3deg);
}

.enterprise-title {
    transform: skewX(-10deg);
    text-align: right;
    max-width: 90%;
    text-align: right;
    margin-top: -30px;
    z-index: -1;
}

.enterprise-title span {
    padding: 10px 30px;
    font-family: 'Josefin';
    font-size: 1.6rem;
    height: fit-content;
    background-color: var(--var-red);
    color: #fff;
    text-transform: capitalize;
}

.enterprise-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.enterprise-icon img {
    width: 200px;
}

@media (max-width: 1000px) {
    .enterprise {
        display: grid;
        width: 100%;
        z-index: 2;
        justify-content: center;
        background-color: transparent;
    }
    .enterprise::before {
        display: none;
    }
    .enterprise-icon {
        width: 90%;
        background-color: #fff;
        border-radius: 20px;
        padding: 10px;
        justify-self: center;
    }
    .enterprise-title {
        margin-bottom: 30px;
    }
    .contact {
        margin-top: 50px;
    }
}


/* Contact section */

.contact {
    display: grid;
    justify-content: center;
    width: 100%;
    margin: 200px auto 0px auto;
    padding-top: 50px;
    padding-left: 30px;
    background: linear-gradient(to top, var(--var-gray), rgba(59, 59, 59, 0.76), var(--var-gray)), url(../img/contact_bg.png);
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.contact-title {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    font-family: "Titilium", sans-serif;
    font-size: 2rem;
    max-width: 95%;
    z-index: 1;
    transform: skewX(-10deg);
}

.contact-title span {
    padding: 10px 30px;
    font-size: 2rem;
    background-color: var(--var-red);
    color: #fff;
}

.contact-spec {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 100px;
}

.personnal,
.socials {
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
    align-items: center;
    justify-content: left;
    margin-top: 50px;
}

.personnal div {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    margin: 20px auto;
    align-items: center;
}

.socials {
    display: flex;
    flex-wrap: nowrap;
    font-size: 2rem;
    justify-self: center;
    align-items: center;
}

.socials a i {
    transition: .2s;
}

.socials a:hover i,
.socials a:active i,
.socials a:focus i {
    color: white;
}

.socials a i {
    padding: 10px;
    margin: 10px;
}

@media (max-width: 700px) {
    .personnal div {
        width: 100%;
        display: grid;
        margin: 10px 20px;
    }
}

@media (max-width: 800px) {
    .contact {
        margin-top: 100px;
        padding-top: 50px;
        margin-bottom: 0px;
    }
    .contact-spec {
        flex-direction: column;
        justify-content: space-between;
        gap: 60px;
        margin-top: 100px;
    }
    .personnal,
    .socials {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 2rem;
        margin: 0;
    }
    .personnal div {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: column;
    }
    .socials a i {
        padding: 5px;
    }
    .socials a {
        margin: 5px;
    }
}


/* Footer */

footer {
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: "Josefin";
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    margin: 30px 0 0 0;
    padding: 5px 0 5px 0;
    background-color: #000;
}

footer p {
    text-align: center;
    align-self: center;
}

footer p span {
    color: var(--var-red);
    text-decoration: underline;
}